In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:

suicide_data = "./resources/master.csv"

suicide_data_df = pd.read_csv(suicide_data)
suicide_data_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
suicide_data_c_df = suicide_data_df.loc[suicide_data_df["year"] >=2010]
suicide_data_c_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
252,Albania,2010,male,55-74 years,20,241852,8.27,Albania2010,0.722,"11,926,953,259",4359,Silent
253,Albania,2010,male,35-54 years,20,371611,5.38,Albania2010,0.722,"11,926,953,259",4359,Generation X
254,Albania,2010,male,25-34 years,9,179720,5.01,Albania2010,0.722,"11,926,953,259",4359,Generation X
255,Albania,2010,male,75+ years,2,50767,3.94,Albania2010,0.722,"11,926,953,259",4359,Silent
256,Albania,2010,male,15-24 years,10,279508,3.58,Albania2010,0.722,"11,926,953,259",4359,Millenials
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [21]:
suicide_data_c_df.columns

suicide_data_clean_df = suicide_data_c_df[['country', 'year', 'sex',
       'suicides/100k pop',
       'gdp_per_capita ($)']]
suicide_data_clean_df

          country  year     sex  suicides/100k pop  gdp_per_capita ($)
252       Albania  2010    male               8.27                4359
253       Albania  2010    male               5.38                4359
254       Albania  2010    male               5.01                4359
255       Albania  2010    male               3.94                4359
256       Albania  2010    male               3.58                4359
...           ...   ...     ...                ...                 ...
27815  Uzbekistan  2014  female               2.96                2309
27816  Uzbekistan  2014  female               2.58                2309
27817  Uzbekistan  2014    male               2.17                2309
27818  Uzbekistan  2014  female               1.67                2309
27819  Uzbekistan  2014  female               1.46                2309

[5860 rows x 5 columns]

In [28]:
suicide_data_r_df = suicide_data_clean_df.rename(columns = {'suicides/100k pop':'suicide_per_100k_popn'})
suicide_data_r_df

          country  year     sex  suicide_per_100k_popn  gdp_per_capita ($)
252       Albania  2010    male                   8.27                4359
253       Albania  2010    male                   5.38                4359
254       Albania  2010    male                   5.01                4359
255       Albania  2010    male                   3.94                4359
256       Albania  2010    male                   3.58                4359
...           ...   ...     ...                    ...                 ...
27815  Uzbekistan  2014  female                   2.96                2309
27816  Uzbekistan  2014  female                   2.58                2309
27817  Uzbekistan  2014    male                   2.17                2309
27818  Uzbekistan  2014  female                   1.67                2309
27819  Uzbekistan  2014  female                   1.46                2309

[5860 rows x 5 columns]

In [33]:
suicide_data_renamed_df = suicide_data_r_df.rename(columns = {'gdp_per_capita ($)':'gdp_per_capita_usd'})
suicide_data_renamed_df

          country  year     sex  suicide_per_100k_popn  gdp_per_capita_usd
252       Albania  2010    male                   8.27                4359
253       Albania  2010    male                   5.38                4359
254       Albania  2010    male                   5.01                4359
255       Albania  2010    male                   3.94                4359
256       Albania  2010    male                   3.58                4359
...           ...   ...     ...                    ...                 ...
27815  Uzbekistan  2014  female                   2.96                2309
27816  Uzbekistan  2014  female                   2.58                2309
27817  Uzbekistan  2014    male                   2.17                2309
27818  Uzbekistan  2014  female                   1.67                2309
27819  Uzbekistan  2014  female                   1.46                2309

[5860 rows x 5 columns]

In [ ]:
Schema SQL

# CREATE TABLE suicide_data (
#     country VARCHAR,
#     year INT,
#     sex VARCHAR,
#     suicide_per_100k_popn DEC,
# 	gdp_per_capita_usd INT	
# );

# select * from suicide_data

# select country, year, sum(suicide_per_100k_popn) as suicide_2015 
# from suicide_data 
# where year='2015' 
# group by country, year;

# select country, year, sum(suicide_per_100k_popn) as suicide_2015 
# from suicide_data 
# where year='2010' 
# group by country, year;

# select country, year, sex, sum(suicide_per_100k_popn) as total_suicide 
# from suicide_data 
# group by country, year, sex;

# select country, year, sum(suicide_per_100k_popn) as total_suicide, max(gdp_per_capita_usd) as GDP
# from suicide_data
# group by country, year;

In [34]:
connection_string = "postgres:1Ax2by3cz$@localhost:5432/project-2-final"
engine = create_engine(f'postgresql://{connection_string}')

In [35]:
engine.table_names()

['suicide_data']

In [37]:
# suicide_data_renamed_df.columns = suicide_data_renamed_df.str.lower()

In [38]:
suicide_data_renamed_df.to_sql('suicide_data', engine, if_exists='append', index=False)